@import "~bootstrap/scss/bootstrap.scss";
@import "~react-select/dist/react-select.css";
@import "~flexboxgrid/dist/flexboxgrid.min.css";

.shadow {
  box-shadow: 0 0 8px black;
  margin: 1em;
}

.rga-nav {
  background-color: #cc0000;
}

.rga-font {
  color: #cc0000;
}

.rga-footer {
  color: #FFFFFF;
  background-color: #888888;
  bottom: 0px;
  position: fixed;
  width: 100%;
  font-size: small;
}

.message {
  font-size: 150%;
  color: #444;
}

label.required {
  &::after {
    content: '*';
    color: $red;
    margin-left: .35rem;
  }
}

.spinner, .spinner-overlay {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999999;
}

.spinner {
  top: 150px;
}

.spinner-overlay {
  top: 300px;
  opacity: 0.75;
}

.spinner, .spinner-overlay, .spinner-inline {
  i {
    font-size: 300%;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7)
}

.sv-form {

  .has-error {
    input {
      border-color: #dc3545;
    }
    .error-block {
      margin-top: .25rem;
      font-size: .775rem;
      color: #dc3545;
    }
  }

}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
}

body, html, #app, #app > div {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}

.floating-add-button {
  margin-right: 50px;
  margin-bottom: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 500
}

.table th, .table td {
  padding: 0.50rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.NavList svg {
  fill: rgb(117, 117, 117) !important;
}

.breadcrumbs {
  a {
    color: white;
  }
  font-size: 20px;
}

.text-area {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}

.card-title {
  font-size: medium;
  padding: 0px;
  margin-bottom: 2px;
}

label {
  color: #818182 !important;
}

.auditable-field-changed {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px, rgba(0, 0, 0, 0.12) 0px 4px 8px;
  padding: 10px 15px 15px 15px;
  margin-bottom: 20px !important;
}

.stable-value-table-header {
  background-color: #c6c8ca;
  color: black;
}

.creditingRatesView .row {
  margin-bottom: 10px;
}

.stable-value-table-header {
  background-color: #c6c8ca;
  color: black;
}

.fontError {
  color: rgb(244, 67, 54)
}

.text-center input {
  text-align: center;
}

.center-grid th, .center-grid td {
  vertical-align: middle !important;
  text-align: center !important;
}

.center-grid .fa-sort {
  display: none;
}

.speedDialItemLabel {
  border-radius: 2px;
  padding: 10px;
  background-color: rgb(30, 136, 229);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  cursor: pointer
}

.popoverFix {
  position: absolute;
  left: -2000px;
}

.disabled {
  color: #888888
}

.dialog-header {
  color: rgba(0, 0, 0, 0.87);
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  cursor: move;
  padding-top: 24px;
}

.speedDialItem > button{
  background-color: #888 !important;
}
body { 
  height: auto;
}

.AssignContactForm > div {
  margin: 30px 5px 20px;
  display: inline-block !important;
  width: calc(33.3% - 10px) !important;
}

.AssignContactForm > div:last-child {
  margin-bottom: 0;
}

.NavLinkActive > div {
  background-color: #1976D2!important;
}

.UnderWritingTab > div:nth-child(1){
  position: sticky;
  top: 113px;
  z-index: 2;
}
.UnderWritingTab > div:nth-child(2){
  position: sticky;
  top: 159px;
  z-index: 2;
}

.WrapPortfolioTab > div:nth-child(1){
  position: sticky;
  top: 60px;
  z-index: 2;
}
.WrapPortfolioTab > div:nth-child(2){
  position: sticky;
  top: 107px;
  z-index: 2;
}

.grid-table > tr > td:first-child {
  height: 34px!important;
}